In [1]:
# Import our dependencies
import pandas as pd
import matplotlib as plt
import sklearn as skl
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import accuracy_score
import tensorflow as tf

In [2]:
# Read in our charity data
charity_df = pd.read_csv("Resources/charity_data.csv")
charity_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
index_column = charity_df[["EIN"]].copy()
index_column.head()

        EIN
0  10520599
1  10531628
2  10547893
3  10553066
4  10556103

In [4]:
charity_df = charity_df.set_index("EIN", drop = True)
charity_df.index.name = None
charity_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
charity_name_df = charity_df[["NAME"]].copy()
charity_name_df.head()

                                              NAME
10520599              BLUE KNIGHTS MOTORCYCLE CLUB
10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR
10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS
10553066            SOUTHSIDE ATHLETIC ASSOCIATION
10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT

In [6]:
charity_df = charity_df.drop(["NAME"], axis=1)
charity_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
10520599,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
10531628,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
10547893,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
10553066,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
10556103,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [7]:
charity_df.APPLICATION_TYPE.value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [8]:
charity_df.INCOME_AMT.value_counts()

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [9]:
charity_df.AFFILIATION.value_counts()

Independent         18480
CompanySponsored    15705
Family/Parent          64
National               33
Regional               13
Other                   4
Name: AFFILIATION, dtype: int64

In [10]:
classification_counts = charity_df.CLASSIFICATION.value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1728        1
C6100        1
C2380        1
C1283        1
C4200        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [11]:
filtered_charity_df = charity_df
filtered_charity_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
10520599,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
10531628,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
10547893,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
10553066,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
10556103,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [12]:
# Determine which values to replace
replace_classification = list(classification_counts[classification_counts < 50].index)

# Replace in DataFrame
for classification in replace_classification:
    filtered_charity_df.CLASSIFICATION = filtered_charity_df.CLASSIFICATION.replace(classification,"Other")

# Check to make sure binning was successful
filtered_charity_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      391
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
Name: CLASSIFICATION, dtype: int64

In [13]:
filtered_charity_df.ORGANIZATION.value_counts()

Trust           23515
Association     10255
Co-operative      486
Corporation        43
Name: ORGANIZATION, dtype: int64

In [14]:
filtered_charity_df.USE_CASE.value_counts()

Preservation     28095
ProductDev        5671
CommunityServ      384
Heathcare          146
Other                3
Name: USE_CASE, dtype: int64

In [15]:
filtered_charity_df.STATUS.value_counts()

1    34294
0        5
Name: STATUS, dtype: int64

In [16]:
filtered_charity_df[filtered_charity_df.STATUS != 1]

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
205559542,T3,CompanySponsored,C2000,CommunityServ,Trust,0,0,N,5000,1
205918776,T3,Independent,C1000,Preservation,Trust,0,25000-99999,Y,7287,1
330970564,T3,Independent,C1000,Preservation,Trust,0,10000-24999,N,5000,1
510594485,T3,CompanySponsored,C2100,CommunityServ,Association,0,0,N,5000,0
841164329,T3,Independent,C1000,Preservation,Association,0,0,N,5000,0

In [17]:
filtered_charity_df.INCOME_AMT.value_counts()

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [18]:
filtered_charity_df.SPECIAL_CONSIDERATIONS.value_counts()

N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64

In [19]:
filtered_charity_df.ASK_AMT.value_counts()

5000       25398
10478          3
15583          3
6725           3
63981          3
           ...
772556         1
70103          1
27096          1
25049          1
1138700        1
Name: ASK_AMT, Length: 8747, dtype: int64

In [20]:
ASK_AMT_counts = filtered_charity_df.ASK_AMT.value_counts()
ASK_AMT_counts

5000       25398
10478          3
15583          3
6725           3
63981          3
           ...
772556         1
70103          1
27096          1
25049          1
1138700        1
Name: ASK_AMT, Length: 8747, dtype: int64

In [21]:
# Determine which values to replace
replace_AMT = list(ASK_AMT_counts[ASK_AMT_counts < 100].index)

# Replace in DataFrame
for AMT in replace_AMT:
    filtered_charity_df.ASK_AMT = filtered_charity_df.ASK_AMT.replace(AMT,"<100")

# Check to make sure binning was successful
filtered_charity_df.ASK_AMT.value_counts()

5000    25398
<100     8901
Name: ASK_AMT, dtype: int64

In [22]:
filtered_charity_df.IS_SUCCESSFUL.value_counts()

1    18261
0    16038
Name: IS_SUCCESSFUL, dtype: int64

In [23]:
# Final dataframe ready for encoder
filtered_charity_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
10520599,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
10531628,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,<100,1
10547893,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
10553066,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,<100,1
10556103,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,<100,1

In [24]:
filtered_charity_df['INCOME_AMT'] = filtered_charity_df['INCOME_AMT'].astype(str)
filtered_charity_df['ASK_AMT'] = filtered_charity_df['ASK_AMT'].astype(str)
filtered_charity_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
10520599,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
10531628,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,<100,1
10547893,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
10553066,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,<100,1
10556103,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,<100,1

In [25]:
# Generate our categorical variable list
encode_columns = filtered_charity_df.dtypes[filtered_charity_df.dtypes == "object"].index.tolist()

# Check the number of unique values in each column
filtered_charity_df[encode_columns].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            16
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
ASK_AMT                    2
dtype: int64

In [26]:
filtered_charity_df[encode_columns].dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                   object
dtype: object

In [27]:
encode_columns

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS',
 'ASK_AMT']

In [28]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(filtered_charity_df[encode_columns]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(encode_columns)
encode_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,ASK_AMT_5000,ASK_AMT_<100
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [29]:
encode_df = encode_df.set_index(index_column["EIN"])
encode_df.index.name = None
encode_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,ASK_AMT_5000,ASK_AMT_<100
10520599,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
10531628,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
10547893,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
10553066,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
10556103,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [30]:
# Merge one-hot encoded features and drop the originals
filtered_charity_df = filtered_charity_df.merge(encode_df,left_index=True, right_index=True)
filtered_charity_df = filtered_charity_df.drop(encode_columns,1)
filtered_charity_df.head()

,STATUS,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,ASK_AMT_5000,ASK_AMT_<100
10520599,1,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
10531628,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
10547893,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
10553066,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
10556103,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [32]:
print(filtered_charity_df.shape)

(34299, 63)

In [33]:
# Split our preprocessed data into our features and target arrays
y = filtered_charity_df["IS_SUCCESSFUL"].values
X = filtered_charity_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [34]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [35]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 504
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 45
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 6
=================================================================
Total params: 555
Trainable params: 555
Non-trainable params: 0
_________________________________________________________________

In [37]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [38]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100)

Train on 25724 samples
Epoch 1/100
25724/25724 [==============================] - 8s 320us/sample - loss: 0.6100 - accuracy: 0.6931
Epoch 2/100
25724/25724 [==============================] - 3s 132us/sample - loss: 0.5606 - accuracy: 0.7276
Epoch 3/100
25724/25724 [==============================] - 3s 133us/sample - loss: 0.5541 - accuracy: 0.7307
Epoch 4/100
25724/25724 [==============================] - 3s 118us/sample - loss: 0.5516 - accuracy: 0.7317
Epoch 5/100
25724/25724 [==============================] - 3s 107us/sample - loss: 0.5501 - accuracy: 0.7317
Epoch 6/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.5493 - accuracy: 0.7306
Epoch 7/100
25724/25724 [==============================] - 3s 125us/sample - loss: 0.5487 - accuracy: 0.7321
Epoch 8/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5476 - accuracy: 0.7326
Epoch 9/100
25724/25724 [==============================] - 3s 118us/sample - loss: 0.5477 - accuracy: 0.7300
Epoch 10/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.5468 - accuracy: 0.7334
Epoch 11/100
25724/25724 [==============================] - 2s 96us/sample - loss: 0.5467 - accuracy: 0.7322
Epoch 12/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5464 - accuracy: 0.7325
Epoch 13/100
25724/25724 [==============================] - 3s 106us/sample - loss: 0.5456 - accuracy: 0.7334
Epoch 14/100
25724/25724 [==============================] - 3s 122us/sample - loss: 0.5454 - accuracy: 0.7334
Epoch 15/100
25724/25724 [==============================] - 3s 119us/sample - loss: 0.5452 - accuracy: 0.7332
Epoch 16/100
25724/25724 [==============================] - 3s 111us/sample - loss: 0.5450 - accuracy: 0.7338
Epoch 17/100
25724/25724 [==============================] - 3s 131us/sample - loss: 0.5449 - accuracy: 0.7340
Epoch 18/100
25724/25724 [==============================] - 3s 111us/sample - loss: 0.5452 - accuracy: 0.7342
Epoch 19/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5443 - accuracy: 0.7342
Epoch 20/100
25724/25724 [==============================] - 3s 130us/sample - loss: 0.5441 - accuracy: 0.7339
Epoch 21/100
25724/25724 [==============================] - 3s 102us/sample - loss: 0.5438 - accuracy: 0.7339
Epoch 22/100
25724/25724 [==============================] - 2s 92us/sample - loss: 0.5437 - accuracy: 0.7351
Epoch 23/100
25724/25724 [==============================] - 3s 105us/sample - loss: 0.5435 - accuracy: 0.7352
Epoch 24/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5432 - accuracy: 0.7344
Epoch 25/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5432 - accuracy: 0.7359
Epoch 26/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5430 - accuracy: 0.7344
Epoch 27/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5432 - accuracy: 0.7344
Epoch 28/100
25724/25724 [==============================] - 3s 100us/sample - loss: 0.5428 - accuracy: 0.7352
Epoch 29/100
25724/25724 [==============================] - 3s 98us/sample - loss: 0.5431 - accuracy: 0.7350
Epoch 30/100
25724/25724 [==============================] - ETA: 0s - loss: 0.5425 - accuracy: 0.73 - 3s 113us/sample - loss: 0.5425 - accuracy: 0.7353
Epoch 31/100
25724/25724 [==============================] - 3s 113us/sample - loss: 0.5427 - accuracy: 0.7349
Epoch 32/100
25724/25724 [==============================] - 4s 156us/sample - loss: 0.5423 - accuracy: 0.7358
Epoch 33/100
25724/25724 [==============================] - 3s 111us/sample - loss: 0.5426 - accuracy: 0.7358
Epoch 34/100
25724/25724 [==============================] - 3s 97us/sample - loss: 0.5424 - accuracy: 0.7363
Epoch 35/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.5421 - accuracy: 0.7354
Epoch 36/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5421 - accuracy: 0.7354
Epoch 37/100
25724/25724 [==============================] - 3s 107us/sample - loss: 0.5425 - accuracy: 0.7346
Epoch 38/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.5419 - accuracy: 0.7362
Epoch 39/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5418 - accuracy: 0.7358
Epoch 40/100
25724/25724 [==============================] - 2s 96us/sample - loss: 0.5420 - accuracy: 0.7358
Epoch 41/100
25724/25724 [==============================] - 2s 97us/sample - loss: 0.5421 - accuracy: 0.7353
Epoch 42/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.5416 - accuracy: 0.7358
Epoch 43/100
25724/25724 [==============================] - 2s 95us/sample - loss: 0.5419 - accuracy: 0.7349
Epoch 44/100
25724/25724 [==============================] - 3s 98us/sample - loss: 0.5417 - accuracy: 0.7358
Epoch 45/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.5418 - accuracy: 0.7348
Epoch 46/100
25724/25724 [==============================] - 3s 105us/sample - loss: 0.5418 - accuracy: 0.7352
Epoch 47/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.5417 - accuracy: 0.7367
Epoch 48/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.5417 - accuracy: 0.7348
Epoch 49/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5417 - accuracy: 0.7351
Epoch 50/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5418 - accuracy: 0.7350
Epoch 51/100
25724/25724 [==============================] - 3s 131us/sample - loss: 0.5414 - accuracy: 0.7353
Epoch 52/100
25724/25724 [==============================] - 3s 122us/sample - loss: 0.5415 - accuracy: 0.7362
Epoch 53/100
25724/25724 [==============================] - 3s 136us/sample - loss: 0.5415 - accuracy: 0.7358
Epoch 54/100
25724/25724 [==============================] - 3s 122us/sample - loss: 0.5415 - accuracy: 0.7352
Epoch 55/100
25724/25724 [==============================] - 3s 125us/sample - loss: 0.5412 - accuracy: 0.7356
Epoch 56/100
25724/25724 [==============================] - 3s 135us/sample - loss: 0.5409 - accuracy: 0.7362
Epoch 57/100
25724/25724 [==============================] - 3s 114us/sample - loss: 0.5413 - accuracy: 0.7377
Epoch 58/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.5413 - accuracy: 0.7360
Epoch 59/100
25724/25724 [==============================] - 3s 112us/sample - loss: 0.5410 - accuracy: 0.7365
Epoch 60/100
25724/25724 [==============================] - 3s 128us/sample - loss: 0.5411 - accuracy: 0.7360
Epoch 61/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.5411 - accuracy: 0.7358
Epoch 62/100
25724/25724 [==============================] - 3s 119us/sample - loss: 0.5411 - accuracy: 0.7353
Epoch 63/100
25724/25724 [==============================] - 3s 130us/sample - loss: 0.5410 - accuracy: 0.7360
Epoch 64/100
25724/25724 [==============================] - 3s 120us/sample - loss: 0.5408 - accuracy: 0.7370
Epoch 65/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.5408 - accuracy: 0.7370
Epoch 66/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5407 - accuracy: 0.7364
Epoch 67/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.5407 - accuracy: 0.7360
Epoch 68/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5406 - accuracy: 0.7357
Epoch 69/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.5409 - accuracy: 0.7356
Epoch 70/100
25724/25724 [==============================] - 3s 106us/sample - loss: 0.5407 - accuracy: 0.7373
Epoch 71/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5406 - accuracy: 0.7372
Epoch 72/100
25724/25724 [==============================] - 3s 118us/sample - loss: 0.5411 - accuracy: 0.7360
Epoch 73/100
25724/25724 [==============================] - 3s 106us/sample - loss: 0.5405 - accuracy: 0.7368
Epoch 74/100
25724/25724 [==============================] - 2s 97us/sample - loss: 0.5407 - accuracy: 0.7357
Epoch 75/100

25724/25724 [==============================] - 3s 101us/sample - loss: 0.5408 - accuracy: 0.7367
Epoch 76/100
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5405 - accuracy: 0.7357
Epoch 77/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.5401 - accuracy: 0.7370
Epoch 78/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.5407 - accuracy: 0.7361
Epoch 79/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5406 - accuracy: 0.7365
Epoch 80/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.5405 - accuracy: 0.7370
Epoch 81/100
25724/25724 [==============================] - 3s 107us/sample - loss: 0.5401 - accuracy: 0.7362
Epoch 82/100
25724/25724 [==============================] - 3s 116us/sample - loss: 0.5404 - accuracy: 0.7367
Epoch 83/100
25724/25724 [==============================] - 3s 107us/sample - loss: 0.5403 - accuracy: 0.7368
Epoch 84/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.5404 - accuracy: 0.7372
Epoch 85/100
25724/25724 [==============================] - 2s 96us/sample - loss: 0.5404 - accuracy: 0.7371
Epoch 86/100
25724/25724 [==============================] - 3s 100us/sample - loss: 0.5402 - accuracy: 0.7370
Epoch 87/100
25724/25724 [==============================] - 2s 95us/sample - loss: 0.5405 - accuracy: 0.7353
Epoch 88/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5401 - accuracy: 0.7364
Epoch 89/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5403 - accuracy: 0.7362
Epoch 90/100
25724/25724 [==============================] - 3s 98us/sample - loss: 0.5404 - accuracy: 0.7364
Epoch 91/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5402 - accuracy: 0.7367
Epoch 92/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5402 - accuracy: 0.7360
Epoch 93/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.5402 - accuracy: 0.7374
Epoch 94/100
25724/25724 [==============================] - 3s 127us/sample - loss: 0.5401 - accuracy: 0.7364
Epoch 95/100
25724/25724 [==============================] - 3s 101us/sample - loss: 0.5402 - accuracy: 0.7359
Epoch 96/100
25724/25724 [==============================] - 3s 100us/sample - loss: 0.5398 - accuracy: 0.7365
Epoch 97/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.5402 - accuracy: 0.7365
Epoch 98/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5400 - accuracy: 0.7374
Epoch 99/100
25724/25724 [==============================] - 3s 97us/sample - loss: 0.5402 - accuracy: 0.7365
Epoch 100/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.5399 - accuracy: 0.7366